{
  extends: "eslint:recommended",
  env: {
    node: true
  },
  parser: "babel-eslint",
  rules: {
    indent: ["error", 4],
    key-spacing: ['error', {
      beforeColon : true,
      afterColon  : true,
      align       : colon
    }],
    no-console: "warn",
    no-multi-spaces: ["error", {
      exceptions: {
        AssignmentExpression : true,
        Property             : true,
        ImportDeclaration    : true,
        VariableDeclarator   : true
      }
    }],
    no-use-before-define: ["error", {
      functions : false
    }]
  }
}
